.order-form-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #4a4a4a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

.form-field {
  width: 100%;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
}



button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
}
